body {
    margin: 0;

}

.animation {
    background-color: black;
}

.animation > .image {
    text-align: center;
}

.animation > h1 {
    color: white;
    font-family: "Sinhala MN";
    text-align: center;
    margin-top: 2vh;

}

.animation > h1 > span {
    color: sandybrown;
    font-family: "Sinhala MN";
}

.animation > .bouton-enter {
    text-align: center;
    margin-top: 5vh;
}

.animation > .bouton-enter > a {
    border-radius: 50px;
    border: sandybrown solid;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    font-family: "Sinhala MN";
}

.accueil > .introduction >.grille-introduction > nav > ul > li > a {
    text-decoration: none;
    font-family: "Malayalam Sangam MN", sans-serif;
    font-size: 20px;
    color: black;
}


.accueil > .introduction >.grille-introduction > nav > ul > li > a:hover {
    color: #EFA226;
    transition: color 0.5s;
}


.accueil > .introduction >.grille-introduction > nav > ul > li  {
    list-style-type: none;
}

.accueil > .introduction >.grille-introduction > .citation > h1  {
    text-align: right;
    font-size: 80px;
    font-family: Poppins, Bold, sans-serif;
    letter-spacing: 5px;
}

.accueil > .introduction > .grille-introduction > .citation > h1 > span {
    color: sandybrown;
}

/*
.accueil > .projet-indiglu,
.accueil > .projet-campuscar{
    background-color: black;
    color: white;
}*/

.accueil > .projet-indiglu > .grille-indiglu >.texte-indiglu > h1  {
    font-family: "Open Sans";
    font-size: 40px;
}

.accueil > .projet-indiglu > .grille-indiglu >.texte-indiglu > .bouton-identitevisuelle  {
    margin-top: 50px;
}

.accueil > .projet-indiglu > .grille-indiglu >.texte-indiglu > .bouton-identitevisuelle > a {
    border-radius: 50px;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #EFA226;

}

.accueil > .projet-reservistes > .grille-reservistes >.texte-reservistes > .bouton-identitevisuelle  {
    margin-top: 50px;
}

.accueil > .projet-reservistes > .grille-reservistes >.texte-reservistes > .bouton-identitevisuelle > a {
    border-radius: 50px;
    background-color: sandybrown;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
}

.accueil > .projet-campuscar > .grille-campuscar >.texte-campuscar > .bouton-identitevisuelle  {
    margin-top: 50px;
}

.accueil > .projet-campuscar > .grille-campuscar >.texte-campuscar > .bouton-identitevisuelle > a {
    border-radius: 50px;
    background-color: sandybrown;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
}

.accueil > .projet-illustrations > .grille-illustrations >.texte-illustrations > .bouton-identitevisuelle  {
    margin-top: 50px;
}

.accueil > .projet-illustrations > .grille-illustrations >.texte-illustrations > .bouton-identitevisuelle > a {
    border-radius: 50px;
    background-color: sandybrown;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
}

/*---------------------------- INDIGLU -----------------------*/

.indiglu > .contexte > .grille-contexte > p,
.indiglu > .crayons > .grille-crayons > p,
.indiglu > .bases >.grille-bases > p,
.indiglu > .logo > .grille-logo > p,
.indiglu > .maquette > .grille-maquette > p{
    opacity: 60%;
}

.indiglu > .contexte > .grille-contexte > img,
.indiglu > .crayons > .grille-crayons > img,
.indiglu > .bases > .grille-bases > img,
.indiglu > .logo > .grille-logo > img {
    width: 400px;
}

.indiglu > .maquette > .grille-maquette > img {
    width: 450px;
}


.indiglu > .maquette > .grille-maquette > .bouton-maquette > a {
    background-color: sandybrown;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    font-family: "Sinhala MN";
}

/*---------------------------- RESERVISTES -----------------------*/

.reserviste > .maquette > .grille-maquette > .bouton-maquette > a {
    background-color: sandybrown;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    font-family: "Sinhala MN";
}


/*---------------------------- CAMPUS CAR -----------------------*/


.campuscar > .contexte > .grille-contexte > img {
    width: 280px;
}

.campuscar > .user > .grille-user > .bouton-user > a,
.campuscar > .user > .grille-user > .bouton-wire > a {
    background-color: sandybrown;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    font-family: "Sinhala MN";
}

.campuscar > .maquette > .bouton-maquette > a {
    background-color: sandybrown;
    text-decoration: none;
    color: white;
    border-radius: 50px;
    padding: 15px 30px;
    font-family: "Sinhala MN";
}


/*---------------------------- A PROPOS -----------------------*/

.texte > .grille-texte > .qui > .bouton-book > a {
    border-radius: 50px;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #F2F2F2;
    font-family: Poppins, Bold;
}

.texte > .grille-texte > .objectifs > .bouton-cv > a {
    border-radius: 50px;
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    background-color: #F2F2F2;
    font-family: Poppins, Bold;
}


footer {
    background-color: darkgray;
    height: 60vh;
    text-align: center;
}

footer > img {
    width: 350px;
}

footer > .reseaux > a > img {
    width: 40px;
    padding-right: 15px;
    padding-top: 5vh;

}